
*{
    margin: 0;
    padding: 0;
  }
  
.header-ul{
    display: inline;
    margin-left: 200px;

}

   
li{
    position: relative;
    padding-left: 60px;
    display: inline;
    width:200px;
    height: 90px; 
}

li a{
    color:black;
    text-decoration-line: none;
    border: 1 pc solid black; 
}
.header-img{
    height:90px;
}
